html,
body {
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.btn {
  padding: 10px;
  border: 1px solid #AAA;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #FAFAFA;
  cursor: pointer;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.btn:hover {
  background-color: #EAEAEA;
}
.btn:focus,
.btn:active {
  outline: none;
}
.btn:active {
  box-shadow: none;
}
